{% extends "hola.html" %}
{% block main %}
    <h2>Administracion tipos de habitaciones</h2>
    {% if error %}
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{ error }}
    </div>
    {% endif %}
    {% if form %}
    {% for field in form %}
        {% for error_field in field.errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{ field.label}} : {{ error_field }}
            </div>
        {% endfor %}
    {% endfor %}
    {% endif %}
    <h3>Lista Tipos de Habitaciones</h2>
    <div class="row">
        <div class="col-xs-3">
            Nombre
        </div>
        <div class="col-xs-2">
            Descripcion
        </div>
        <div class="col-xs-2">
            Numero de Personas
        </div>
        <div class="col-xs-3">
            Precio por dia
        </div>
        <div class="form-group col-xs-2">
        </div>
    </div>
    {% for tipo_habitacion in tipos_habitacion %}
    <div class="row">
        <div class="col-xs-3">
            {{ tipo_habitacion.nombre }}
        </div>
        <div class="col-xs-2">
            {{ tipo_habitacion.descripcion }}
        </div>
        <div class="col-xs-2">
            {{ tipo_habitacion.numeroPersonas }}
        </div>
        <div class="col-xs-3">
            {{ tipo_habitacion.precio }}
        </div>
        <div class="form-group col-xs-2">
            <!-- <form method="POST">
                {% for field in tipo_habitacion.form %}
                    {% if field.name == 'submit' %}
                        <button type="submit" class="btn btn-default">{{field.label}}</button>
                    {% elif field.name == 'fechaPedido' %}
                    <div class="row">
                    <div class="form-group col-xs-6">
                        <label class="control-label">{{field.label}}</label>
                        <div class="date">
                        <div class="input-group input-append date" id="datePicker" data-fv-field="date">
                        <input type="text" class="form-control" name="fechaPedido" />
                        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                        </div>
                    </div>
                    </div>
                    {% elif field.name != 'csrf_token' %}
                    <div class="row">
                    <div class="form-group col-xs-6">
                        <label>{{field.label}}</label>
                        {{field(class="form-control")}}
                    </div>
                    </div>
                    {% endif %}
                {% endfor %}
                {{ form.csrf_token }}
            </form> -->
        </div>
    </div>
    {% endfor %}
    <h3>Crear nuevo tipo de habitacion</h2>
    <form id="eventForm" method="POST">
        {% for field in form %}
            {% if field.name == 'submit' %}
                <button type="submit" class="btn btn-default">{{field.label}}</button>
            {% elif field.name != 'csrf_token' %}
            <div class="row">
            <div class="form-group col-xs-6">
                <label>{{field.label}}</label>
                {{field(class="form-control")}}
            </div>
            </div>
            {% endif %}
        {% endfor %}
        {{ form.csrf_token }}
    </form>
{% endblock %}

{% block navbar_active %}
{% if current_user.is_admin() %}
    <li><a href="{{ url_for('index') }}">Inicio</a></li>
    <li><a href="{{ url_for('admin_hoteles') }}">Administrar hoteles</a></li>
    <li class="active"><a href="{{ url_for('admin_tipos_habitacion') }}">Administrar tipos de habitaciones</a></li>
    <li><a href="{{ url_for('admin_habitaciones') }}">Administrar habitaciones</a></li>
    <li><a href="{{ url_for('admin_reservas') }}">Administar reservas</a></li>
    <li><a href="{{ url_for('user_logout') }}">Logout</a></li>
{% else %}
    <li><a href="{{ url_for('index') }}">Inicio</a></li>
    <li><a href="{{ url_for('reservar') }}">Reservar habitacion</a></li>
    <li class="active"><a href="{{ url_for('ver_reservas') }}">Ver mis reservas</a></li>
    <li><a href="{{ url_for('user_logout') }}">Logout</a></li>
{% endif %}
{% endblock %}
